@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* ===== GLOBAL RESET ===== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root{
    --main-color: #FF9A2F;
    --background-color: #EE3B51;
    --text-color: #333;
    --alert-color:  #E32705;
    --checked-color: #666;
    --white-color: #fff;
    --grey-color: #F7F7F7;
}

/* ===== PAGE STYLES ===== */
html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:  Roboto;

    /* Gradient from UIGradients.com */
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ===== FORM STYLES ===== */
form{
    box-shadow:  0px 0px 2px var(--grey-color);
    background-color: #fff;
    width: 40rem;
}

.form__header{
    line-height: 4rem;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    font-weight: 500;
    background-color: var(--main-color);
    color: var(--white-color);
}

.fa-plus{
    float: right;
}

.fa-plus:hover{
    cursor: pointer;
}

.new-task{
    line-height: 4rem;
    color: var(--main-color);
    background-color: var(--grey-color);
    padding: 0.5rem 2rem; 
    font-size: 2rem; 
    border: solid 0.3rem var(--white-color);
    width: 100%;
}

.new-task:focus{
    outline: none;
    border: solid 0.3rem var(--main-color);
}

.form__todos{
    list-style-type: none;
}

.todo{
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0.2rem 2rem;
}

.checked{
    color: var(--checked-color);
    text-decoration: line-through;
}



